bin/**
dist/**
build/native/**
build/cli/.vs/**
build/cli/xt/*.user
build/cli/xt/obj/**
build/cli/gui/*.user
build/cli/gui/obj/**
build/cli/sample/*.user
build/cli/sample/obj/**
build/java/.idea/**
build/java/xt/*.iml
build/java/xt/.idea/**
build/java/sample/*.iml
build/java/sample/.idea/**