*.nupkg
xt-audio.zip
dist/**
src/java/xt/.idea/**
build/native/win32/**
build/native/linux/**
build/net/.vs/**
build/net/xt/*.user
build/net/xt/obj/**
build/net/gui/*.user
build/net/gui/obj/**
build/net/sample/*.user
build/net/sample/obj/**
build/java/.idea/**
build/java/xt/*.iml
build/java/xt/.idea/**
build/java/sample/*.iml
build/java/sample/.idea/**