lib/**
dist/**
temp/**
scratch/**
build/*.sdf
build/.vs/**
build/*.user
build/*.opensdf
build/cli/obj/**
build/cli/*.user
build/cli-gui/obj/**
build/cli-gui/*.user
build/cli-sample/obj/**
build/cli-sample/*.user